.container {
    margin-top: 50px;
    margin-left: 15%;
  }

  mat-stepper {
    min-height: 550px;
    max-height: 550px;
  }

  button {
      margin: 10px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }


.stock-ticker-chip-list {
    width: 100%;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 14%;
    word-wrap: break-word;
    word-break: break-word;
    padding-right: 10px !important;
  }

  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}